<ons-navigator animation="slide" var="locations">  
  <ons-page>
    <ons-toolbar modifier="opacity">
      <div class="left">
        <ons-toolbar-button ng-click="menu.toggle()"><ons-icon icon="ion-navicon-round" fixed-width="false"></ons-icon></ons-toolbar-button>
      </div>
      <div class="center">Select Hospital</div>
    </ons-toolbar>

    <div class="app-page">

      <ons-list modifier="locations">
        <ons-list-item modifier="chevron" class="list-item-container" ng-click="locations.pushPage('paris.html');">
          <ons-row>
            <ons-col width="95px">
              <img src="img/location1.png" class="thumbnail">
            </ons-col>
            <ons-col>
              <div class="name">
                Anand Hospital
              </div>
              <div class="location">
                <i class="fa fa-map-marker"></i> Sahibaug , Ahmedabad
              </div>
			  <div class="price-tag">
                  <i class="ion-pricetag"></i> INR 15000
                </div>
              <div class="desc">
                Anand Hospitals  started in  August 1994 as a multi speciality center, offering the best possible facilities and services to the patients at an affordable cost.Anand Hospitals is more than 15 years old and is growing from strength to strength.
              </div>
            </ons-col>
            <ons-col width="40px"></ons-col>
          </ons-row>
        </ons-list-item>

        
      <ons-list modifier="locations">
        <ons-list-item modifier="chevron" class="list-item-container" ng-click="locations.pushPage('paris.html');">
          <ons-row>
            <ons-col width="95px">
              <img src="img/location1.png" class="thumbnail">
            </ons-col>
            <ons-col>
              <div class="name">
                Anand Hospital
              </div>
              <div class="location">
                <i class="fa fa-map-marker"></i> Sahibaug , Ahmedabad
              </div>
			  <div class="price-tag">
                  <i class="ion-pricetag"></i> INR 15000
                </div>
              <div class="desc">
                Anand Hospitals  started in  August 1994 as a multi speciality center, offering the best possible facilities and services to the patients at an affordable cost.Anand Hospitals is more than 15 years old and is growing from strength to strength.
              </div>
            </ons-col>
            <ons-col width="40px"></ons-col>
          </ons-row>
        </ons-list-item>

        
      <ons-list modifier="locations">
        <ons-list-item modifier="chevron" class="list-item-container" ng-click="locations.pushPage('paris.html');">
          <ons-row>
            <ons-col width="95px">
              <img src="img/location1.png" class="thumbnail">
            </ons-col>
            <ons-col>
              <div class="name">
                Anand Hospital
              </div>
              <div class="location">
                <i class="fa fa-map-marker"></i> Sahibaug , Ahmedabad
              </div>
			  <div class="price-tag">
                  <i class="ion-pricetag"></i> INR 15000
                </div>
              <div class="desc">
                Anand Hospitals  started in  August 1994 as a multi speciality center, offering the best possible facilities and services to the patients at an affordable cost.Anand Hospitals is more than 15 years old and is growing from strength to strength.
              </div>
            </ons-col>
            <ons-col width="40px"></ons-col>
          </ons-row>
        </ons-list-item>

        
      </ons-list>

    </div>

  </ons-page>
</ons-navigator>   